<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript">
      var room_name = "{{ room_name }}";
    </script>
    <script type="text/javascript" src="{{ static_url("jquery.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("chat.js") }}"></script>
  </head>
  <body>
    <h2>Websocket Chat</h2>
    <h3>Room: {{ room_name }}</h3>
    <div>
      <textarea id="area" readonly="readonly" style="width: 400px; height:300px; resizable:none;">loading...</textarea>
      <input style="display:block;" type="text" id="box" disabled="disabled" />
    </div>
    <div>
      <h3>Rooms</h3>
      <ul id="room_list">
        {% include "room_list.html" %}
      </ul>
    </div>
  </body>
</html> 
